{%extends 'mailings/base.html' %}

{% block content %}
<h5 class="text-start ps-5">Карточка данных рассылки</h5>
<div class="album py-4 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr class="border-top border-primary border-bottom">
                                <th class="table-primary sticky-top border-0 ">Наименование</th>
                                <th class="table-primary sticky-top border-0">Содержание</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="border-top border-bottom border-grey">
                                <td class="border-0">Название рассылки (сообщения)</td>
                                <td class="border-0">{{ object.message }}</td>
                            </tr>
                            <tr class="border-top border-bottom border-grey">
                                <td class="border-0">Статус рассылки</td>
                                <td class="border-0">{{ object.status }}</td>
                            </tr>
                            <tr class="border-top border-bottom border-grey">
                                <td class="border-0">Дата и время первой отправки</td>
                                <td class="border-0">{{ object.start_at|date:"d.m.Y (H:i)" }}</td>
                            </tr>
                            <tr class="border-top border-bottom border-grey">
                                <td class="border-0">Дата и время окончания отправки</td>
                                <td class="border-0">{{ object.end_at|date:"d.m.Y (H:i)" }}</td>
                            </tr>
                            <tr class="border-top border-bottom border-grey">
                                <td class="border-0">Получатели рассылки</td>
                                <td class="border-0">{{ object.get_recipients_display }}</td>
                            </tr>
                            </tbody>
                             </table>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="p-2 btn btn-outline-success" href="{% url 'mailings:mailing_list' %}">Вернуться</a>
                                    <a class="p-2 btn btn-outline-primary" href="{% url 'mailings:mailing_update' object.pk %}">Редактировать</a>
                                    <a class="p-2 btn btn-outline-secondary" href="{% url 'mailings:mailing_confirm_delete' object.pk %}">Удалить</a>
                                </div>
                            </div>
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <div class="card shadow-sm">-->
<!--                    <div class="card-body">-->
<!--                        <h4 class="text-start ps-0 mb-3">НОВИНКИ </h4>-->
<!--                        <ul class="list-unstyled ms-4">-->
<!--                            {% for object in latest_objects %}-->
<!--                            <li class="d-flex align-items-center mb-2">-->
<!--                                <span class="bullet me-2">•</span>-->
<!--                                <p class="mb-1 mt-2">{{ object.name }} ({{object.category}}) - {{ object.price }}-->
<!--                                    руб.</p>-->
<!--                            </li>-->
<!--                            {% endfor %}-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}