{%extends 'mailings/base.html' %}

{% block title %}
<h5>Карточка клиента (получателя рассылок)</h5>
{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr class="border-top border-primary border-bottom">
                                <th class="table-primary sticky-top border-0 ">Наименование</th>
                                <th class="table-primary sticky-top border-0">Содержание</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="border-top border-bottom border-grey">
                                <td class="border-0">Ф.И.О. клиента</td>
                                <td class="border-0">{{ object.fullname|title }}</td>
                            </tr>
                            <tr class="border-top border-bottom border-grey">
                                <td class="border-0">Email клиента</td>
                                <td class="border-0">{{ object.email|lower }}</td>
                            </tr>
                            <tr class="border-top border-bottom border-grey">
                                <td class="border-0">Комментарий</td>
                                <td class="border-0">{{ object.comment }}</td>
                            </tr>
                            </tbody>
                             </table>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="p-2 btn btn-outline-success" href="{% url 'mailings:recipient_list' %}">Вернуться</a>
                                    <a class="p-2 btn btn-outline-success" href="{% url 'mailings:recipient_update' object.pk %}">Редактировать</a>
                                    <a class="p-2 btn btn-outline-success" href="{% url 'mailings:recipient_confirm_delete' object.pk %}">Удалить</a>
                                </div>
                            </div>
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6">-->
<!--                <div class="card shadow-sm">-->
<!--                    <div class="card-body">-->
<!--                        <h4 class="text-start ps-0 mb-3">НОВИНКИ </h4>-->
<!--                        <ul class="list-unstyled ms-4">-->
<!--                            {% for object in latest_objects %}-->
<!--                            <li class="d-flex align-items-center mb-2">-->
<!--                                <span class="bullet me-2">•</span>-->
<!--                                <p class="mb-1 mt-2">{{ object.name }} ({{object.category}}) - {{ object.price }}-->
<!--                                    руб.</p>-->
<!--                            </li>-->
<!--                            {% endfor %}-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}