{% extends 'mailings/base.html' %}

{% block content %}

<div class="container-fluid px-4 text-center mb-5">
    <h5 class="mb-5">{{ greetings }}</h5>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center mb-5">
        <div class="col">
            <div class="card shadow-sm h-100 border-end-3 border-bottom-3 border-info border-start-0 border-top-0">
                <div class="card-body d-flex flex-column justify-content-center align-items-center p-4">
                    <a href="{% url 'user:login' %}" class="btn btn-primary btn-lg w-50 my-2"
                       style="box-shadow: 0 4px 8px rgba(0,0,0,0.1); transition: all 0.3s;">Вход</a>
                    <form method="post" action="{% url 'user:register' %}" style="display:inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-lg my-2" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1); transition: all 0.3s;">Регистрация</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <h6 class="mb-5 fst-italic fw-normal">Вход только для авторизованных пользователей (пройдите регистрацию)</h6>
</div>
{% endblock %}