{% extends 'mailings/base.html' %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow p-3 border-end-3 border-bottom-3 border-info border-start-0 border-top-0">
                <h3>Письмо отправлено</h3>
                <p>Мы отправили вам инструкции по сбросу пароля на указанный email.</p>
            </div>
        </div>
    </form>
</div>

{% endblock %}