{% extends 'mailings/base.html' %}
{% block content %}
                {% autoescape off %}
                Здравствуйте, {{ user.get_username }}!

                Вы запросили сброс пароля для вашего аккаунта на {{ site_name }}.

                Пожалуйста, перейдите по следующей ссылке для смены пароля:
                {{ protocol }}://{{ domain }}{% url 'user:password_reset_confirm' uidb64=uid token=token %}

                Если вы не запрашивали сброс пароля, проигнорируйте это письмо.

                Спасибо,
                Команда {{ site_name }}
                {% endautoescape %}

{% endblock %}