{% extends 'mailings/base.html' %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow border-end-3 border-bottom-3 border-info border-start-0 border-top-0">
                <h3>Пароль изменен!</h3>
                <p>Ваш новый пароль установлен. Теперь вы можете <a href="{% url 'login' %}">войти</a>.</p>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}